@model Certificate_Credentials.Models.interns_tbl

@{
    ViewBag.Title = "Create";
}
<style>
    .btn-download,
    .btn-share {
        margin-top: 15px;
        margin-right: 20px;
    }
  .btn-dark >  input {
        background-color: #ff8c00;
        color:white;
    }

      .btn-dark > input:hover {
            background-color: #424649;
            color: white;
        }
</style>

@using (Html.BeginForm("Create", "credentials", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
        <div class="jumbotron text-center">
            <h6 class="display-4">
                <span style="color: #ff8c00">MindScape Technologies</span>
                Certification
            </h6>
            <p class="lead">
                <table>
                    <!--Name-->
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.internname, htmlAttributes: new { @class = "control-label col-md-6" })
                        </th>
                        <td>
                            @Html.EditorFor(model => model.internname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Intern Name" } })
                            @Html.ValidationMessageFor(model => model.internname, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <!--Email-->
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.internemail, htmlAttributes: new { @class = "control-label col-md-6" })

                        </th>
                        <td>
                            @Html.EditorFor(model => model.internemail, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Intern Email" } })
                            @Html.ValidationMessageFor(model => model.internemail, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <!--Phone Intern Registration Number-->
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.internregistrationno, htmlAttributes: new { @class = "control-label col-md-6" })

                        </th>
                        <td>
                            @Html.EditorFor(model => model.internregistrationno, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.internregistrationno, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <!--Intern Certificate Number-->
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Internshipcertificateno, htmlAttributes: new { @class = "control-label col-md-6" })

                        </th>
                        <td>
                            @Html.EditorFor(model => model.Internshipcertificateno, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Internshipcertificateno, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <!--Internship Start date-->
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.internshipstartdate, htmlAttributes: new { @class = "control-label col-md-6" })
                        </th>
                        <td>
                            @Html.EditorFor(model => model.internshipstartdate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.internshipstartdate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.internshipenddate, htmlAttributes: new { @class = "control-label col-md-6" })
                        </th>
                        <td>
                            @Html.EditorFor(model => model.internshipenddate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.internshipenddate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Domain, htmlAttributes: new { @class = "control-label col-md-6" })
                        </th>
                        <td>
                            @Html.DropDownListFor(model => model.Domain, new SelectList(new[]
                            {
                                new SelectListItem { Text = "Select Domain", Value = "" },  // Default option
                                new SelectListItem { Text = "Front-End Developer - Intern", Value = "Front-End Developer - Intern" },
                                new SelectListItem { Text = "Back-End Developer - Intern", Value = "Back-End Developer - Intern" },
                                new SelectListItem { Text = "Full-Stack Developer - Intern", Value = "Full-Stack Developer - Intern" }
                            }, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Domain, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-6" })
                        </th>
                        <td>
                            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.ImageData, htmlAttributes: new { @class = "control-label col-md-6" })
                        </th>
                        <td>
                            <input type="file" name="imageFile" id="imageFile" class="form-control" />
                            @Html.ValidationMessageFor(model => model.ImageData, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.PdfData, htmlAttributes: new { @class = "control-label col-md-6" })
                        </th>
                        <td>
                            <input type="file" name="pdfFile" id="pdfFile" class="form-control" />
                            @Html.ValidationMessageFor(model => model.PdfData, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                </table>

                <div class="btn btn-dark btn-download">
                    <i class="fa-solid fa-ghost"></i>
                        <input type="submit" value="Create" style="border:none" />
                </div>
                <div class="btn btn-dark btn-share">
                    <i class="fa-solid fa-person-running"></i>
                        <a href="index">Back Now</a>
                </div>
            </p>

        </div>


            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
            </div>*@
        }
        <br />
     

        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
        }
