
@model Certificate_Credentials.Models.interns_tbl

@{
    ViewBag.Title = "Delete";
}

<style>
    .img-fluid {
        width: 600px;
        height: 550px;
    }
</style>
<br />
<h3 style="text-align:center">Are you sure you want to <span style="color: #ff8c00">delete</span> this intern?</h3>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData)" alt="Intern Image" class="img-fluid" width="600" height="480" />
        </div>
        <div class="col-md-6">
            <div class="jumbotron text-center">
                <h6 class="display-4">
                    <span style="color: #ff8c00">Intern</span>
                    Certification
                </h6>
                <p class="lead">
                    <table>
                        <tr>
                            <th>Intern ID</th>
                            <td style="color:red;font-weight:bolder">@Html.DisplayFor(model => model.id)</td>
                        </tr>
                        <tr>
                            <th>Intern Name</th>
                            <td>@Html.DisplayFor(model => model.internname)</td>
                        </tr>
                        <tr>
                            <th>Intern Id</th>
                            <td>@Html.DisplayFor(model => model.internregistrationno)</td>
                        </tr>
                        <tr>
                            <th>Domain</th>
                            <td>@Html.DisplayFor(model => model.Domain)</td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>@Html.DisplayFor(model => model.Duration) Months</td>
                        </tr>
                        <tr>
                            <th>Certificate Number</th>
                            <td>@Html.DisplayFor(model => model.Internshipcertificateno)</td>
                        </tr>
                        <tr>
                            <th>Internship Start Date</th>
                            <td>@Html.DisplayFor(model => model.internshipstartdate)</td>
                        </tr>
                        <tr>
                            <th>Internship Completion Date</th>
                            <td>@Html.DisplayFor(model => model.internshipenddate)</td>
                        </tr>
                    </table>
                </p>
                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="btn btn-dark btn-download">
                            <i class="fa-solid fa-user-slash"></i> <input type="submit" value="Delete" class="btn btn-default" style="color:white" />
                        </div>
                        <div class="btn btn-dark btn-download">
                            <i class="fa-solid fa-ban"></i>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}

