@model Certificate_Credentials.Models.interns_tbl

@{
    ViewBag.Title = "Details";
}
<style>
    .img-fluid {
        width: 600px;
        height: 550px;
    }
</style>
<br />
<h3 style="text-align:center">MindScape Technologies <span style="color: #ff8c00">Intern</span> Certificate Details</h3>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData)" alt="Intern Image" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <div class="jumbotron text-center">
                <h6 class="display-4">
                    <span style="color: #ff8c00">MindScapte Internship</span>
                    Certification
                </h6>
                <p class="lead">
                    <table>
                        <tr>
                            <th>Intern Name</th>
                            <td>@Html.DisplayFor(model => model.internname)</td>
                        </tr>
                        <tr>
                            <th>Intern Id</th>
                            <td>@Html.DisplayFor(model => model.internregistrationno)</td>
                        </tr>
                        <tr>
                            <th>Domain</th>
                            <td>@Html.DisplayFor(model => model.Domain)</td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>@Html.DisplayFor(model => model.Duration) Months</td>
                        </tr>
                        <tr>
                            <th>Certificate Number</th>
                            <td>@Html.DisplayFor(model => model.Internshipcertificateno)</td>
                        </tr>
                        <tr>
                            <th>Internship Start Date</th>
                            <td>@Html.DisplayFor(model => model.internshipstartdate)</td>
                        </tr>
                        <tr>
                            <th>Internship Completion Date</th>
                            <td>@Html.DisplayFor(model => model.internshipenddate)</td>
                        </tr>
                    </table>
                </p>
                <div>
                    @if (Model.PdfData != null && Model.PdfData.Length > 0)
                    {
                        <a href="@Url.Action("DownloadPdf", "credentials", new { id = Model.id })" class="btn btn-dark btn-download">
                            <i class="fa-solid fa-download"></i> Download PDF
                        </a>
                    }
                    else
                    {
                        <p>No PDF available</p>
                    }
                </div>

                @*<button class="btn btn-dark btn-share">
                        <i class="fa-solid fa-share"></i> Share
                    </button>*@
            </div>
        </div>
    </div>

    <br /><br /><br />

</div>




