@model PagedList.IPagedList<Certificate_Credentials.Models.interns_tbl>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>

<style>
    li > a {
        text-decoration: none;
        background-color: #ff8c00;
        padding: 10px;
    }

    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            color: #ff8c00;
        }

    td:hover {
        color: #ff8c00;
    }
</style>

<section class="container-fluid">
    <div class="jumbotron text-center">
        <h6 class="display-4">
            <span style="color: #ff8c00"></span>
            Certification Credentials
        </h6>
    
            <div class="lead">
                <table>
                    @using (Html.BeginForm("Index", "credentials", FormMethod.Get))
                    {
                        <tr>
                            <th>
                                @Html.TextBox("searchTerm", ViewBag.SearchTerm as string, new { placeholder = "Name,Email,Certificate,Registration", @class = "form-control" })

                            </th>
                            <td>
                                <button type="submit" class="btn btn-dark">Search</button>
                            </td>

                        </tr>
                    }
                </table>
            </div>

                    @Html.ActionLink("Add New Certificate", "Create", null, new { @class = "btn btn-dark btn-download" })
                    @Html.ActionLink("Export To Excel", "ExportToExcel", null, new { @class = "btn btn-dark btn-download" })
                    <div class="lead" style="overflow-x:auto;">
                        @if (Model.Count > 0)
                        {
                            <table>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Intern Name</th>
                                    <th>Intern Email</th>
                                    <th>Intern Id</th>
                                    <th>Domain</th>
                                    <th>Duration</th>
                                    <th>Certificate Number</th>
                                    <th>Actions</th>
                                </tr>
                                @{
                                    int serialNumber = (Model.PageNumber - 1) * Model.PageSize;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(++serialNumber)</td>
                                            <td>@Html.DisplayFor(modelItem => item.internname)</td>
                                            <td>@Html.DisplayFor(modelItem => item.internemail)</td>
                                            <td>@Html.DisplayFor(modelItem => item.internregistrationno)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Domain)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Duration) Months</td>
                                            <td>@Html.DisplayFor(modelItem => item.Internshipcertificateno)</td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-dark btn-download" })
                                                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-dark btn-download" })
                                                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-dark btn-download" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        }
                        else
                        {
                            <p>No records found.</p>
                        }
                    </div>
    </div>
</section>
<br />
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET" }))
</div>
